<%
if @recommendations.kind_of? Array
  if @recommendations.length == 0
  %>
    <p>No recommendation available for you. Sorry.</p>
  <%
  else
  %>
    <ul>
      <% id_link = 0 %>
      <% @recommendations.each do |e| %>
        <li>
          <%= link_to e[0].title, url_for(:controller => "events", :action => "show", :id => e[0].id, :log => "CB_user|||#{(current_user ? current_user.id.to_s : 'no')}|||#{id_link}") %>
          (match = <%= e[1] %> %)
        </li>
        <% id_link = id_link + 1 %>
      <% end %>
    </ul>
    <div class="subtitle" style="text-align: center">
      <%=link_to_remote "[+] Refresh and load more [+]",
        :update => "CB_user",
        :url => {:action => :get_CB_user_events},
        :with => "'nb_recs= + #{(@nb_recs + 5)}' + '&date[year]=+ #{@date.year}' + '&date[month]= + #{@date.month}' + '&date[day]= + #{@date.day}'",
        :before =>  "document.getElementById('CB_user').innerHTML = '<center><img src=\"/images/loading.gif\" /><br />Loading, please wait...</center>';" %>
    </div>
  <%
  end

else
%>
  <p>Error while contacting the recommendation server</p>
<%
end
%>
