<div id="mypicalag_subnav" class="subnav">
    <ul class="clearfix">
      <li><%= link_to 'Events recommendations', mypicalag_url,
              :class => subnav_class_for("mypicalag", "index") %>
      </li>
      <li><%= link_to 'Favorite venues', favorite_venues_mypicalag_url,
              :class => subnav_class_for("mypicalag", "favorite_venues") %>
      </li>
    </ul>
</div>
