<h2>Hi there.</h2>
<p class='first'><strong>Picalag</strong> is an intelligent unified calendar for Manchester. It was developed on top of Calagator as a MSc project. It is designed to learn your interests and help you to find relevant events to attend for a day of a night out.</p>

<h4>Get Started</h4>
<ul>
  <li>Complete the initial form for the evaluation</li>
  <li>Register and/or log in</li>
  <li>Find your favorite venues and mark them</li>
  <li>Start browsing events that interest you</li>
  <li>You will find our recommendations in "My Picalag"</li>
  <li>Please do not forget to complete the short form after each browsing session to give your feedbacks</li>
</ul>

<h4>Subscribe To</h4>
<ul>
  <li><%= link_to "iCalendar feed", url_for(:controller => "events", :action => "index", :protocol => "webcal", :only_path => false)+".ics" %></li>
  <li><%= link_to "Atom feed", events_url(:format => "atom") %></li>
</ul>
